<div class='Footer-Area'>
    <div class='Footer'>
        <div>
            <a href="/">
                <h2 style="color: white;">Blogger</h2>
            </a>
        </div>
        <div>
            <ul class='Social-Footer-li'>
                <li><a href="https://github.com/anwarkathat"><i class="fab fa-github Footer-icons"></i></a></li>
                <li><a href="www.linkedin.com/in/anwar-kathat-aa0b86187"><i class="fab fa-linkedin-in Footer-icons"></i></a></li>
            </ul>
        </div>
    </div>
    <div class='Footer-hr'>
        <hr />
        <p style="text-align: center; color: white; margin: 12px 0;">&#169;2021. All rights Reserved</p>
        <p style="text-align: center; color: white; margin: 12px 0;text-decoration: underline;">Created by <a rel='noreferrer' href="https://github.com/anwarkathat" style="color: white;" target='_blank'>Dev anwarkathat</a></p>
    </div>
</div>