<nav>
    <div>
        <a href="/">
            <h1 style="color: white;">Blogger</h1>
        </a>
    </div>
    <ul class="nav-links">
        <a href="/">
            <li>Home</li>
        </a>
        <a href="/about">
            <li>About</li>
        </a>
        <a href="/blogs">
            <li>Blogs</li>
        </a>
        <a href="/writeblog">
            <li>Write Blog</li>
        </a>
    </ul>
    <div class="nav-menu" onclick="NavActive()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</nav>