<!DOCTYPE html>
<html lang="en">

<head>
    <title>About us</title>
    <%- include('./components/head'); %>
</head>


<body>
    <!-- NavBar  -->
    <%- include('./components/nav'); %>
        <!-- About Section -->
        <div class="About">
            <div class='About-header'>
                <h1>About Blogger</h1>
            </div>
            <div class="About-Content">
                <div>
                    <p>Online Publishing Platform. Where you can Read about job opportunities, career advice, expert's insights, new features and products. We got you covered with fact-based articles Gwoth and career guides.</p>
                </div>
                <div class="cardDiv">
                    <div class='card'>
                        <p>Technology</p>
                        <span class='card-content'>
                            Read about Latest Technology released in market.
                        </span>
                    </div>
                    <div class='card'>
                        <p>Jobs</p>
                        <span class='card-content'>
                            Get Updated with Latest jobs.
                        </span>
                    </div>
                    <div class='card'>
                        <p>Carrers</p>
                        <span class='card-content'>
                            Read About Some Carrer Tips
                        </span>
                    </div>
                    <div class='card'>
                        <p>Write</p>
                        <span class='card-content'>
                            Write and share your blogs with the world.
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <a href="/writeblog"> <button class="About-btn">Write blog</button></a>
            </div>
        </div>

        <%- include('./components/footer'); %>
</body>

</html>