<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blogger</title>
    <%- include('./components/head'); %>
</head>

<body>
    <div>
        <!-- NavBar  -->
        <%- include('./components/nav'); %>

    </div>
    <div class='Home'>
        <h1>"Don't focus on having a great blog. Focus on producing a blog that's great for your readers."</h1>
        <span>Brian Clark</span>
        <a href="/writeblog"><button class="nav-btn">Publish Your blog</button></a>
    </div>
    <div>
        <!-- footer -->
        <%- include('./components/footer'); %>
    </div>
</body>

</html>